# standard
venv/
.DS_Store
__pycache__/

# segmentation folder
segmentation/runs/
segmentation/data/config.yml
segmentation/output/
segmentation/data/images
segmentation/data/annotated
segmentation/data/original
segmentation/annotated
segmentation/original
segmentation/validation/

# saved folder
saved/