# standard
venv/
.DS_Store
__pycache__/
output/*
runs/

runs/

# segmentation folder
segmentation/runs/
segmentation/data/config.yml
segmentation/output/
segmentation/data/images
segmentation/data/annotated
segmentation/data/original
segmentation/annotated
segmentation/original
segmentation/validation/
segmentation/test.jpg

# pose folder
pose/*.jpg
pose/unet.pth
pose/*.jpeg

# saved folder
saved/
