absl-py
albumentations
cachetools
certifi
charset-normalizer
colorama
contourpy
cycler
docopt
filelock
fonttools
fsspec
google-auth
google-auth-oauthlib
grpcio
idna
imageio
Jinja2
joblib
kiwisolver
lazy_loader
Markdown
MarkupSafe
matplotlib
mpmath
networkx
numpy
oauthlib
opencv-python-headless
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
PyYAML
qudida
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
six
sympy
tensorboard
tensorboard-data-server
threadpoolctl
tifffile
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
yarg
openvino